<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>运维审计系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.3/css/all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<style type="text/css">
		.dataTables_filter{
			text-align: right;
		}
		.hand{
			cursor: pointer;
		}
		.cssCheckboxAll{
			margin-top: -24px;
		}
		
		.cssTabCheckBox{
			margin-top: -6px;
		}
		
		.select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple {
		    min-height: 34px!important;
		    border-color: #4CD964!important;
		    outline: 0!important;
		}
		
		textarea{
			resize:none;
		}
		
		#chartdiv {
		  width: 100%;
		  height: 350px;
		}
		
		a[href="http://www.amcharts.com"]{display: none !important;}
	</style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:include="pages/layout/head :: head"></div>
		<!-- end #header -->
		
		<!-- 左侧菜单 -->
		<div th:include="pages/layout/left :: left('resource','network')"></div>
		
		<!-- begin #content -->
		<div id="content" class="content">
			<form id="networkForm" method="post" th:object="${network}" th:action="*{id eq 0 ? '/network/insert' : '/network/update'}" autocomplete="off">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;" th:onclick="'location.href=\'/network/query\';'">网络列表</a></li>
				<li class="breadcrumb-item active" th:text="*{id > 0 ? '编辑网络' : '添加网络'}">添加网络</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header" th:text="*{id > 0 ? '编辑网络' : '添加网络'}">网络信息<small></small></h1>
			<!-- end page-header -->
			
			<div class="row">
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">基本信息</h4>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">网络名称</label>
										<div class="col-md-9">
											<input type="hidden" th:field="*{id}"/>
											<input name="name" id="name" type="text" class="form-control is-invalid" th:value="*{name}">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">网络类型</label>
										<div class="col-md-9">
											<select id="type" name="type" class="form-control is-valid" data-style="btn-white">
												<option value="0" th:selected="*{type eq 0}">私有网络</option>
												<option value="1" th:selected="*{type eq 1}">公有网络</option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">Agent Key</label>
										<div class="col-md-9">
											<input name="clientId" id="clientId" type="text" class="form-control is-valid" th:value="*{clientId}">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">Agent Secret</label>
										<div class="col-md-9">
											<input name="clientSecret" id="clientSecret" type="text" class="form-control is-valid" th:value="*{clientSecret}">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">描述信息</label>
										<div class="col-md-9">
											<textarea name="description" id="description" class="form-control" rows="6" th:text="*{description}"></textarea>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label"></label>
										<div class="col-md-9">
											<button type="submit" class="btn btn-sm btn-primary m-r-5">提交</button>
											<button type="button" class="btn btn-sm btn-default m-r-5" th:onclick="'location.href=\'/network/query\';'">返回</button>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">设备统计</h4>
							</div>
							<div class="panel-body">
								
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title"><span>修改记录</span></h4>
				</div>
				<div class="panel-body">
					·admin 在 2019年01月06日18点38分16秒 修改了该用户，更新内容如下：<br/>
					姓名：张三 => 李四<br/>
					密码：****** => ****** <br/>
					所属组：普通用户 => 系统管理员 <br/><br/>
					·admin 在 2019年01月05日15点13分42秒 修改了该用户，更新内容如下：<br/>
					密码：****** => ****** <br/>
					所属组： => 普通用户<br/><br/>
					·admin 在 2019年01月06日12点00分35秒 创建了该用户。 <br/><br/>
					·没有了……
				</div>
			</div>
		</div>
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="../assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/apple.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="../assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="../assets/plugins/masked-input/masked-input.min.js"></script>
	<script src="../assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="../assets/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="../assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="../assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="../assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/moment.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../assets/plugins/select2/dist/js/select2.min.js"></script>
	<script src="../assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../assets/plugins/bootstrap-show-password/bootstrap-show-password.js"></script>
	<script src="../assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="../assets/plugins/clipboard/clipboard.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript" src="../javascript/custom/bugbycode.js"></script>
	<script type="text/javascript" src="../validator/validator.js"></script>
	
	<script>
		App.init();
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".logout").click(function(){
				$("#logoutForm").submit();
			});
		});
		$.addValidator('checkName',function(element,value){
			var flag = true;
			$.ajaxSettings.async = false;
			$.get("/network/checkName",{name:value},function(data){
				var userId = data.id;
				var id = $("#id").val();
				flag = (userId == 0 || userId == id);
			});
			return flag;
		});
		
		var rules = {
			name:{
				required:true,
				name:true,
				min:2,
				max:10,
				checkName:true
			},description:{
				max:30
			}
		};
		
		var messages = {
			name:{
				required:"请输入网络名称",
				name:"网络名称格式错误，请输入中文、字母、数字或下划线",
				min:"网络名称至少由两个字符组成",
				max:"网络名称不能超过十个字符",
				checkName:"该网络名称已存在"
			},description:{
				max:"网络描述内容不能超过三十个字符"
			}	
		};
		
		$.validator("#networkForm");
	</script>
	
</body>
</html>