<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>运维审计系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="../../fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../assets/plugins/jquery-jvectormap/jquery-jvectormap.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
    <link href="../assets/plugins/gritter/css/jquery.gritter.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<style type="text/css">
		.dataTables_filter{
			text-align: right;
		}
		.hand{
			cursor: pointer;
		}
		.cssCheckboxAll{
			margin-top: -24px;
		}
		
		.cssTabCheckBox{
			margin-top: -6px;
		}
	</style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:include="pages/layout/head :: head"></div>
		<!-- end #header -->
		
		<!-- 左侧菜单 -->
		<div th:include="pages/layout/left :: left('user','user')"></div>
		
		<!-- begin #content -->
		<div id="content" class="content">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;" th:onclick="'location.href=\'/user/query\';'">用户列表</a></li>
				<li class="breadcrumb-item active">添加用户</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header">用户信息<small></small></h1>
			<!-- end page-header -->
			<!-- <div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title"><span class="hand" th:onclick="'location.href=\'/user/query\';'">用户列表</span>&nbsp;/&nbsp;新建用户</h4>
				</div>
			</div> -->
			<form id="userForm" method="post" action="/insert">
			<div class="row">
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">基本信息</h4>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">姓名</label>
										<div class="col-md-9">
											<input name="name" id="name" type="text" class="form-control is-invalid" value="中文">
											<div class="invalid-feedback">请输入姓名</div>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">锁定状态</label>
										<div class="col-md-9">
											<select id="status" name="status" class="form-control">
												<option value="0">锁定</option>
												<option value="1">激活</option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">角色</label>
										<div class="col-md-9">
											<select id="roleId" name="roleId" class="form-control">
												<option value="1">普通用户</option>
												<option value="1">系统管理员</option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">所属组</label>
										<div class="col-md-9">
											<select id="groupId" name="groupId" class="form-control">
												<option value="-1">请选择</option>
												<option value="1">普通用户</option>
												<option value="2">系统管理员</option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">手机号码</label>
										<div class="col-md-9">
											<input id="mobile" name="mobile" type="text" class="form-control is-valid">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">邮箱地址</label>
										<div class="col-md-9">
											<input id="email" name="email" type="text" class="form-control is-valid" value="example@gmail.com">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label"></label>
										<div class="col-md-9">
											<button type="submit" class="btn btn-sm btn-primary m-r-5">提交</button>
											<button class="btn btn-sm btn-default m-r-5" th:onclick="'location.href=\'/user/query\';'">返回</button>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">认证信息</h4>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">用户名</label>
										<div class="col-md-9">
											<input id="username" name="username" type="text" class="form-control is-valid">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">密码</label>
										<div class="col-md-9">
											<input id="password" name="password" type="password" class="form-control is-invalid" value="">
											<div class="invalid-feedback">请输入密码</div>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">确认密码</label>
										<div class="col-md-9">
											<input id="password2" name="password2" type="password" class="form-control is-invalid" value="">
											<div class="invalid-feedback">两次输入的密码不一致</div>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">认证方式</label>
										<div class="col-md-9">
											<select id="authType" name="authType" class="form-control">
												<option value="0">密码认证</option>
											</select>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
		</div>
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/apple.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/gritter/js/jquery.gritter.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.time.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.resize.min.js"></script>
	<script src="../assets/plugins/flot/jquery.flot.pie.min.js"></script>
	<script src="../assets/plugins/sparkline/jquery.sparkline.js"></script>
	<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap.min.js"></script>
	<script src="../assets/plugins/jquery-jvectormap/jquery-jvectormap-world-mill-en.js"></script>
	<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script type="text/javascript" src="../javascript/custom/bugbycode.js"></script>
	<script type="text/javascript" src="../validator/validator.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	
	<script>
		App.init();
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".logout").click(function(){
				$("#logoutForm").submit();
			});
		});
		
		var rules = {
			name:{
				required:false,
				name:true
			},email:{
				required:true,
				email:true
			},username:{
				
			},password:{
				required:true
			},password2:{
				compare:"password"
			}
		};
		var messages = {
			name:{
				required:"请输入用户姓名",
				name:"用户姓名格式错误"
			},email:{
				required:"请输入邮箱地址",
				email:"邮箱地址格式不正确"
			},password:{
				required:"请输入密码",
			},password2:{
				compare:"两次输入的密码不一致"
			}	
		};
		$.validator("#userForm");
		//$.validatorForm("#userForm");
	</script>
</body>
</html>