<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>运维审计系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="http://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.3/css/all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL STYLE ================== -->
	<link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker3.css" rel="stylesheet" />
	<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.css" rel="stylesheet" />
	<link href="../assets/plugins/ionRangeSlider/css/ion.rangeSlider.skinNice.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-timepicker/css/bootstrap-timepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/password-indicator/css/password-indicator.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-combobox/css/bootstrap-combobox.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-select/bootstrap-select.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-tag-it/css/jquery.tagit.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-daterangepicker/daterangepicker.css" rel="stylesheet" />
	<link href="../assets/plugins/select2/dist/css/select2.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-eonasdan-datetimepicker/build/css/bootstrap-datetimepicker.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap-colorpalette/css/bootstrap-colorpalette.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-fontawesome.css" rel="stylesheet" />
	<link href="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker-glyphicons.css" rel="stylesheet" />
	<!-- ================== END PAGE LEVEL STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<style type="text/css">
		.dataTables_filter{
			text-align: right;
		}
		.hand{
			cursor: pointer;
		}
		.cssCheckboxAll{
			margin-top: -24px;
		}
		
		.cssTabCheckBox{
			margin-top: -6px;
		}
		
		.select2-container .select2-selection--single, .select2-container--default .select2-selection--multiple {
		    min-height: 34px!important;
		    border-color: #4CD964!important;
		    outline: 0!important;
		}
	</style>
</head>
<body>
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade page-sidebar-fixed page-header-fixed">
		<!-- begin #header -->
		<div th:include="pages/layout/head :: head"></div>
		<!-- end #header -->
		
		<!-- 左侧菜单 -->
		<div th:include="pages/layout/left :: left('user','user')"></div>
		
		<!-- begin #content -->
		<div id="content" class="content">
			<form id="userForm" method="post" th:object="${user}" th:action="*{id eq 0 ? '/user/insert' : '/user/update'}" autocomplete="off">
			<!-- begin breadcrumb -->
			<ol class="breadcrumb pull-right">
				<li class="breadcrumb-item"><a href="javascript:;" th:onclick="'location.href=\'/user/query\';'">用户列表</a></li>
				<li class="breadcrumb-item active" th:text="*{id > 0 ? '编辑用户' : '添加用户'}">添加用户</li>
			</ol>
			<!-- end breadcrumb -->
			<!-- begin page-header -->
			<h1 class="page-header" th:text="*{id > 0 ? '编辑用户' : '添加用户'}">用户信息<small></small></h1>
			<!-- end page-header -->
			<!-- <div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title"><span class="hand" th:onclick="'location.href=\'/user/query\';'">用户列表</span>&nbsp;/&nbsp;新建用户</h4>
				</div>
			</div> -->
			
			<div class="row">
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">基本信息</h4>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">姓名</label>
										<div class="col-md-9">
											<input type="hidden" th:field="*{id}"/>
											<input type="hidden" th:field="*{type}"/>
											<input name="name" id="name" type="text" class="form-control is-invalid" th:value="*{name}">
											<div class="invalid-feedback">请输入姓名</div>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">锁定状态</label>
										<div class="col-md-9">
											<select id="status" name="status" class="form-control is-valid">
												<option th:value="0" th:selected="*{status == 0}">锁定</option>
												<option th:value="1" th:selected="*{status == 1}">激活</option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">角色</label>
										<div class="col-md-9">
											<select id="roleId" name="roleId" class="form-control is-valid" data-style="btn-white">
												<option th:if="*{roleId ne 0}" th:value="*{roleId}" selected="selected" th:text="*{roleName}"></option>
												<option th:if="*{roleId eq 0}" th:value="*{roleId}" selected="selected" th:text="'请选择角色'"></option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">所属组</label>
										<div class="col-md-9">
											<select id="groupId" name="groupId" class="form-control is-valid" data-style="btn-white">
												<option th:if="*{groupId ne 0}" th:value="*{groupId}" selected="selected" th:text="*{groupName}"></option>
												<option th:if="*{groupId eq 0}" th:value="*{groupId}" selected="selected" th:text="'请选择所属组'"></option>
											</select>
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">手机号码</label>
										<div class="col-md-9">
											<input id="mobile" name="mobile" type="text" th:value="*{mobile}" class="form-control is-valid">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">邮箱地址</label>
										<div class="col-md-9">
											<input id="email" name="email" type="text" class="form-control is-valid" th:value="*{email}">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label"></label>
										<div class="col-md-9">
											<button type="submit" class="btn btn-sm btn-primary m-r-5">提交</button>
											<button type="button" class="btn btn-sm btn-default m-r-5" th:onclick="'location.href=\'/user/query\';'">返回</button>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div>
						<div class="panel panel-inverse">
							<div class="panel-heading">
								<div class="panel-heading-btn">
									
								</div>
								<h4 class="panel-title">认证信息</h4>
							</div>
							<div class="panel-body">
								<fieldset>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">用户名</label>
										<div class="col-md-9">
											<input id="username" name="username" th:readonly="*{id > 0}" th:value="*{username}" type="text" class="form-control is-valid">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">密码</label>
										<div class="col-md-9">
											<input id="password" name="password" type="password" class="form-control is-valid" value="">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">确认密码</label>
										<div class="col-md-9">
											<input id="password2" name="password2" type="password" class="form-control is-valid" value="">
										</div>
									</div>
									<div class="row form-group m-b-10">
										<label class="col-md-3 col-form-label">认证方式</label>
										<div class="col-md-9">
											<div class="checkbox checkbox-css checkbox-inline">
												<input name="auth" type="checkbox" value="dymic" id="dymic"/>
												<label for="dymic">动态令牌&nbsp;<a href="javascript:;">私钥信息</a></label>
	                                    	</div>
	                                    	<div class="checkbox checkbox-css checkbox-inline">
												<input name="auth" type="checkbox" value="ca" id="ca"/>
												<label for="ca">数字证书&nbsp;<a href="javascript:;">下载证书</a></label>
	                                    	</div>
											<ul class="parsley-errors-list filled" id="parsley-id-multiple-mincheck">
												<li class="parsley-required">至少需要附加一项认证方式</li>
											</ul>
										</div>
									</div>
								</fieldset>
							</div>
						</div>
					</div>
				</div>
			</div>
			</form>
			<div class="panel panel-inverse">
				<div class="panel-heading">
					<div class="panel-heading-btn">
						
					</div>
					<h4 class="panel-title"><span>修改记录</span></h4>
				</div>
				<div class="panel-body">
					·admin 在 2019年01月06日18点38分16秒 修改了该用户，更新内容如下：<br/>
					姓名：张三 => 李四<br/>
					密码：****** => ****** <br/>
					所属组：普通用户 => 系统管理员 <br/><br/>
					·admin 在 2019年01月05日15点13分42秒 修改了该用户，更新内容如下：<br/>
					密码：****** => ****** <br/>
					所属组： => 普通用户<br/><br/>
					·admin 在 2019年01月06日12点00分35秒 创建了该用户。 <br/><br/>
					·没有了……
				</div>
			</div>
		</div>
		<!-- end #content -->
		<!-- begin scroll to top btn -->
		<a href="javascript:;" class="btn btn-icon btn-circle btn-success btn-scroll-to-top fade" data-click="scroll-top"><i class="fa fa-angle-up"></i></a>
		<!-- end scroll to top btn -->
	</div>
	<!-- end page container -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.3.1.min.js"></script>
	<script src="../assets/plugins/jquery/jquery-migrate-1.1.0.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.1.3/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/apple.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<!-- ================== BEGIN PAGE LEVEL JS ================== -->
	<script src="../assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.js"></script>
	<script src="../assets/plugins/ionRangeSlider/js/ion-rangeSlider/ion.rangeSlider.min.js"></script>
	<script src="../assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js"></script>
	<script src="../assets/plugins/masked-input/masked-input.min.js"></script>
	<script src="../assets/plugins/bootstrap-timepicker/js/bootstrap-timepicker.min.js"></script>
	<script src="../assets/plugins/password-indicator/js/password-indicator.js"></script>
	<script src="../assets/plugins/bootstrap-combobox/js/bootstrap-combobox.js"></script>
	<script src="../assets/plugins/bootstrap-select/bootstrap-select.min.js"></script>
	<script src="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
	<script src="../assets/plugins/bootstrap-tagsinput/bootstrap-tagsinput-typeahead.js"></script>
	<script src="../assets/plugins/jquery-tag-it/js/tag-it.min.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/moment.js"></script>
	<script src="../assets/plugins/bootstrap-daterangepicker/daterangepicker.js"></script>
	<script src="../assets/plugins/select2/dist/js/select2.min.js"></script>
	<script src="../assets/plugins/bootstrap-eonasdan-datetimepicker/build/js/bootstrap-datetimepicker.min.js"></script>
	<script src="../assets/plugins/bootstrap-show-password/bootstrap-show-password.js"></script>
	<script src="../assets/plugins/bootstrap-colorpalette/js/bootstrap-colorpalette.js"></script>
	<script src="../assets/plugins/jquery-simplecolorpicker/jquery.simplecolorpicker.js"></script>
	<script src="../assets/plugins/clipboard/clipboard.min.js"></script>
	<!-- ================== END PAGE LEVEL JS ================== -->
	<script type="text/javascript" src="../javascript/custom/bugbycode.js"></script>
	<script type="text/javascript" src="../validator/validator.js"></script>
	
	<script>
		App.init();
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$(".logout").click(function(){
				$("#logoutForm").submit();
			});
		});
		$.addValidator('checkUserName',function(element,value){
			var flag = true;
			$.ajaxSettings.async = false;
			$.get("/user/checkUserName",{userName:value},function(data){
				var userId = data.id;
				var id = $("#id").val();
				flag = (userId == 0 || userId == id);
			});
			return flag;
		});
		$.addValidator('checkName',function(element,value){
			return true;
		});
		
		var id = $("#id").val();
		var checkPwd = true;
		if(id > 0){
			checkPwd = false;
		}
		
		var rules = {
			name:{
				required:true,
				name:true,
				min:2,
				max:10,
				checkName:true
			},email:{
				email:true
			},username:{
				required:true,
				username:true,
				min:4,
				max:20,
				checkUserName:true
			},password:{
				required:checkPwd
			},password2:{
				required:checkPwd,
				compare:"password"
			},auth:{
				required:false
			},mobile:{
				mobile:true
			}
		};
		
		var messages = {
			name:{
				required:"请输入用户姓名",
				name:"用户姓名格式错误，请输入中文、字母、数字或下划线",
				min:"用户姓名至少由两个字符组成",
				max:"用户姓名不能超过十个字符",
				checkName:"该姓名已存在"
			},email:{
				required:"请输入邮箱地址",
				email:"邮箱地址格式不正确"
			},username:{
				required:"请输入用户名",
				username:"用户名格式错误，请输入字母、数字或下划线",
				min:"用户名至少由四个字符组成",
				max:"用户名不能超过二十个字符",
				checkUserName:"该用户名已存在"
			},password:{
				required:"请输入密码",
			},password2:{
				required:"请输入密码",
				compare:"两次输入的密码不一致"
			},auth:{
				required:"请选择至少一项认证方式"
			},mobile:{
				mobile:"请输入正确的手机号码"
			}	
		};
		/*$("#groupId").select2({
	    	ajax:{
	    		type:"get",
	    		url: function (params) {
    				var groupName = params.term;
    				if(groupName == undefined){
    					groupName = "";
    				}
    		      	return '/user/queryGroup?groupName=' + groupName;
    		    },processResults:function(data,params){
    		    	var list = data.list;
    		    	var result = [{id:0,text:'请选择所属组'}];
    		    	$.each(list,function(index,item){
    		    		result.push({
    		    			id:item.id,
    		    			text:item.name
    		    		});
    		    	});
    		    	var rs = {
   		    			results:result
    		    	};
    		    	return rs;
    		    }
	    	}
		});*/
		
		function select2Format(selector,url,defaultText){
			$(selector).select2({
				ajax:{
		    		type:"get",
		    		url: function (params) {
	    				var value = params.term;
	    				if(value == undefined){
	    					value = "";
	    				}
	    		      	return url + value;
	    		    },processResults:function(data,params){
	    		    	var list = data.list;
	    		    	var result = [{id:0,text:defaultText}];
	    		    	$.each(list,function(index,item){
	    		    		result.push({
	    		    			id:item.id,
	    		    			text:item.name
	    		    		});
	    		    	});
	    		    	var rs = {
	   		    			results:result
	    		    	};
	    		    	return rs;
	    		    }
		    	}
			});
		}
		var type = $("#type").val();
		if(type == 1){
			select2Format("#roleId","/user/queryGroup?groupName=","请选择角色");
		}
		select2Format("#groupId","/user/queryGroup?groupName=","请选择所属组");
		//$("#groupId").addClass({"is-valid"});
		$.validator("#userForm");
		//$.validatorForm("#userForm");
	</script>
</body>
</html>