<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<body th:fragment="head">
	<!-- begin #header -->
	<div id="header" class="header navbar-default">
		<!-- begin navbar-header -->
		<div class="navbar-header">
			<a th:href="@{/main}" class="navbar-brand"><span class="navbar-logo"><i class="ion-ios-cloud"></i></span> <b>运维审计系统</b></a>
			<button type="button" class="navbar-toggle" data-click="sidebar-toggled">
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>
		</div>
		<!-- end navbar-header -->
		
		<!-- begin header-nav -->
		<ul class="navbar-nav navbar-right">
			<li class="dropdown navbar-user">
				<a href="javascript:;" class="dropdown-toggle" data-toggle="dropdown">
					<img src="../images/user/user.gif" alt="" /> 
					<span class="d-none d-md-inline" th:text="${session.SPRING_SECURITY_CONTEXT.authentication.principal.username}"></span> <b class="caret"></b>
				</a>
				<div class="dropdown-menu dropdown-menu-right">
					<a href="javascript:;" class="dropdown-item">个人信息</a>
					<a href="javascript:;" class="dropdown-item"><span class="badge badge-danger pull-right">2</span>我的消息</a>
					<a href="javascript:;" class="dropdown-item">工作计划</a>
					<a href="javascript:;" class="dropdown-item">个人设置</a>
					<div class="dropdown-divider"></div>
					<form id="logoutForm" th:action="@{/logout}" method="POST">
						
					</form>
					<a href="javascript:;" class="dropdown-item logout">注销登录</a>
				</div>
			</li>
		</ul>
		<!-- end header navigation right -->
	</div>
	<!-- end #header -->
</body>
</html>