<!DOCTYPE html>
<!--[if IE 8]> <html lang="en" class="ie8"> <![endif]-->
<!--[if !IE]><!-->
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<!--<![endif]-->
<head>
	<meta charset="utf-8" />
	<title>运维审计系统</title>
	<meta content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport" />
	<meta content="" name="description" />
	<meta content="" name="author" />
	
	<!-- ================== BEGIN BASE CSS STYLE ================== -->
	<link href="fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet" />
	<link href="../assets/plugins/jquery-ui/jquery-ui.min.css" rel="stylesheet" />
	<link href="../assets/plugins/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet" />
	<link href="../assets/plugins/font-awesome/5.0/css/fontawesome-all.min.css" rel="stylesheet" />
	<link href="../assets/plugins/ionicons/css/ionicons.min.css" rel="stylesheet" />
	<link href="../assets/plugins/animate/animate.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/style-responsive.min.css" rel="stylesheet" />
	<link href="../assets/css/apple/theme/default.css" rel="stylesheet" id="theme" />
	<!-- ================== END BASE CSS STYLE ================== -->
	
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/pace/pace.min.js"></script>
	<!-- ================== END BASE JS ================== -->
	<style type="text/css">
		.imgCodeInput{
			background: rgba(255,255,255,.2);
    		color: #fff;
    		border-color: transparent;
    		font-size: 14px;
    		height: 46px;
		    padding: 10px 16px;
		    line-height: 1.3333333;
		    border-radius: 6px;
		    box-shadow: none;
		    font-size: 12px;
		    line-height: 1.42857143;
		    height: 42px;
		    padding: 6px 12px;
		    outline: none;
		    margin-left: 10px;
		    width: 194px;
		}
		#codeLink{
			border-radius: 6px;
			margin-top: -4px;
			cursor:pointer;
		}
		
		.login-buttons{
			margin-top: 18px;
		}
		
		.errorMessage{
			float: left;
    		font-size: 20px;
    		color: red;
		}
	</style>
</head>
<body class="pace-top">
	<!-- begin #page-loader -->
	<div id="page-loader" class="fade show"><span class="spinner"></span></div>
	<!-- end #page-loader -->
	
	<!-- begin #page-container -->
	<div id="page-container" class="fade">
	    <!-- begin login -->
        <div class="login bg-black animated fadeInDown">
            <!-- begin brand -->
            <div class="login-header">
                <div class="brand">
                    <span class="logo"><i class="ion-ios-cloud"></i></span> <b>运维审计系统</b>
                    <small>确保数据安全性，需要您先登录认证</small>
                </div>
                <div class="icon">
                    <i class="fa fa-lock"></i>
                </div>
            </div>
            <!-- end brand -->
            <!-- begin login-content -->
            <div class="login-content">
                <form  th:action="@{/login}" method="POST" class="margin-bottom-0" autocomplete="off">
                    <div class="form-group m-b-20">
                        <input name="username" type="text" class="form-control form-control-lg inverse-mode" placeholder="用户名" th:value="${session.loginName}"/>
                    </div>
                    <div class="form-group m-b-20">
                        <input name="password" type="password" class="form-control form-control-lg inverse-mode" placeholder="密码" th:value="${session.password}"/>
                    </div>
                    <div class="form-group m-b-20">
                    	<img th:src="@{/imgCode}" id="codeLink">
                        <input name="imgCode" type="text" class="imgCodeInput" placeholder="验证码"/>
                    </div>
                    <div class="login-buttons">
                        <button type="submit" class="btn btn-success btn-block btn-lg">登&nbsp;&nbsp;录</button>
                    </div>
                    <div class="form-group m-b-20" th:if="${param.error} and ${session.SPRING_SECURITY_LAST_EXCEPTION != null}">
                    	<span th:text="${session.SPRING_SECURITY_LAST_EXCEPTION.message}" class="errorMessage"></span>
                    </div>
                </form>
            </div>
            <!-- end login-content -->
        </div>
        <!-- end login -->
    </div>
	<!-- ================== BEGIN BASE JS ================== -->
	<script src="../assets/plugins/jquery/jquery-3.2.1.min.js"></script>
	<script src="../assets/plugins/jquery-ui/jquery-ui.min.js"></script>
	<script src="../assets/plugins/bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
	<!--[if lt IE 9]>
		<script src="../assets/crossbrowserjs/html5shiv.js"></script>
		<script src="../assets/crossbrowserjs/respond.min.js"></script>
		<script src="../assets/crossbrowserjs/excanvas.min.js"></script>
	<![endif]-->
	<script src="../assets/plugins/slimscroll/jquery.slimscroll.min.js"></script>
	<script src="../assets/plugins/js-cookie/js.cookie.js"></script>
	<script src="../assets/js/theme/apple.min.js"></script>
	<script src="../assets/js/apps.min.js"></script>
	<script type="text/javascript" src="../javascript/custom/bugbycode.js"></script>
	<!-- ================== END BASE JS ================== -->
	
	<script>
		$(document).ready(function() {
			App.init();
		});
	</script>
	<script type="text/javascript">
		$(document).ready(function(){
			$("#codeLink").click(function(){
				$(this).attr("src","/imgCode?t=" + new Date().getTime());
			});
		});
	</script>
</body>
</html>